.contact__title {
    margin-bottom: 28px;
    text-align: center;
}

.contact-form {
    width: 600px;
    margin: 0 auto;
}

.form input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid #ccc;
}

.contact__email {
    margin-top: 20px;
}

.contact__subject {
    margin-top: 20px;
    
}

.contact__text {
    height: 120px;
    margin-top: 20px;
}

.btn-contact {
    margin-top: 20px;
    padding: 8px 30px;
    background-color: rgb(80, 238, 177);
    color: #000;
    border: none;
    border-radius: 4px;
}